/*GRID*/

html, body{
    padding: 0;
    margin: 0;
    background:white ;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

.grid{
    display: grid;
}

.container{
    grid-template:
    "header header header" 80px
    "nav    main   main" 490px
    / 90px 1fr 1fr
    ;
    gap: 15px;
}

.container_dashboard{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px;
    margin: 30px;
    gap: 15px;
}



.item{
    background: rgb(58, 194, 58);
    background-image: linear-gradient(130deg, #137e1c 0%, #34ae34 85%, #498f17 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    border-radius: 5px;
}

.item_view{    
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.header{
    grid-area: header;
    border: none;
    background: white;
    color: #14801d;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

.nav{
    grid-area: nav;
    border: none;
    background: white;  
    margin: 10px;    
}
.nav li{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.main{
    grid-area: main;
    margin: 10px;
}







.container_index{
    grid-template:
    "header header header" 60px
    "main   main   main"  300px
    "main2  main2  main2" 370px
    "main3  main3  main3" 420px
    "footer footer footer" 62PX   
    / 1fr 1fr 1fr
    ;
}

.header_index{
    grid-area: header;
    box-sizing: border-box;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: center;
    padding:0px 20px 0px 20px;
    color: white;
}

.header_index ul{    
    display: flex;
}
.header_index li{
    margin-left: 20px;   
}

.main_index1{
    grid-area: main;
    margin: 7% 0% 0% 0%;
    text-align: center;
    padding-top: 15px;
    
}


.main_index1 ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}
.main_index1 li{
    display: flex;
    flex-wrap: wrap;    
    padding-left: 10px;

}

.main_index1 input{
    width: 150px;
    height: 30px;
    background: rgb(93, 218, 93);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;    
}

.main_index2{
    grid-area: main2;   
    margin: 3% 0%  0%;
    display: flex;
    padding-left: 60px;
    justify-content: space-around;
}

.main_index2 div{
    margin-top: 30px;
}
.main_index2 h2{
    text-align: center;
}


.main_index3{
    margin: 2% 0% 0%;
    grid-area: main3;
    text-align: center;
    
}
.container_cards{
    justify-content: center;    
    display: grid;
    grid-template-columns: repeat(5, 140px) ;
    grid-template-rows: 220px;
    column-gap: 40px;
    padding: 30px;
    color:black;
}
.container_cards h3, h4{
    align-content: end;    
}

.container_cards img{
    border-radius: 7px;
}

.footer_index{
    grid-area: footer;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.footer_index ul{
    display: flex;
}
.footer_index li{
    padding-right: 40px;
}

/*Container responsive*/

@media only screen and (max-width:620px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        ;
    }
     
    .container_index{
        
    }

    .container_icon{
        display: flex;
        justify-content:space-evenly;
    }

    .container_icon img{
        width: 50px ;
        height: 55px;
    }
    
    
    
}



.header_cadastro{
    
    background: white;
    padding: 10px;
    height: 40px;
}
.header_cadastro nav{
    display: flex;
    justify-content: space-between;
}

.header_cadastro button{
    height: 30px;
    width:100px;        
    padding-right: 30px;
    background:#009245;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;
}

.header_cadastro a{
    font-size: 20px;
    margin: 0px 0px 0px 22px;
}

.form_cadastro{
    color:black;
}

.form_cadastro input{
    color: white;
    height: 30px;
    width: 300px;
    background: #009245;   
    border-radius: 100px;    
    display: flex;
}
.form_cadastro label{
    padding: 20px;
    

}
.form_cadastro #cadastro{
    height: 40px;
    width: 200px;
    background: #009245;    
    padding:10px;
    margin-top: 10px;
    border-radius: 100px;
    margin-left: 50px;
    
}

.div_cadastro{
    display:flex;
    padding: 20px;    
    align-items: center;


    
}
.div_cadastro img{
    padding-right: 100px;
}






