/*GRID*/

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Zen+Dots&display=swap');


html, body{
    padding: 0;
    margin: 0;
    background:white ;
    
    
}

p{
    font-family: 'Orelega One', cursive;
}

h1, h2{
    font-family: 'Orbitron', sans-serif;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
 
  .topnav .icon {
    display: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
    color: white;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  } 

.dropdown:hover .dropdown-content {
    display: block;
  } 


.item{
    background-image: linear-gradient(130deg, #dfdede 0%, #f1f7f1 85%, #d2d3d1 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: rgb(74, 72, 72);
    border-radius: 5px;
}

.item2{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: black;
    border-radius: 5px;
}

.item_receita{
    color: rgb(58, 194, 58);
}

.item_despesa{
    color: rgb(203, 51, 51);

}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.nav_bar_item{
    background:rgb(117, 181, 49);
    border-radius: 30px ;
    height: 26px;
    width: 80px;
    color: #d2d3d1;
}
 

/*Grid*/

.grid1{
    display: grid;
}

.container_index{
    grid-template-columns: 100%;
    grid-template-rows: 60px 300px 230px 300px  40px;
    grid-template-areas: 
    "header" 
    "main_1"
    "main_1-5"
    "main_2"
    "main_3"
    "footer"
    ;
    

}
/*
@media only screen and (min-width:600px){
    .nav_view{
        display: inline;
    }
}
*/




.item1_index{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;     
    justify-content: space-evenly;   
    align-items: center;
    padding: 0px 7px 0px;
    }

.item1_index ul{
    display: flex;
    padding-top: 10px;
    display: flex;
}

.item1_index li{    
    margin-right:10px;
}

.item1-5_index{
    grid-area: main_1-5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item1-5_index img{
    padding: 25px;
}




@media only screen and (max-width:690px){    
    .item1_index input{
        width: 100%;
        height: 30px;
        background: rgb(117, 181, 49);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border: none;
        border-radius: 60px;
        color: white;
        font-size: 2.0vw;
    }
        
}    
.item2_index{
    grid-area: main_1;
    margin: 7% 0% 0% 0%;
    text-align: center;
    padding-top: 15px;
    
    
    
}

.item2_index h2, h1{
    font-size: 3vw;
}



.item2_index ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}

.item2_index li{
    display: flex;
    flex-wrap: wrap;    
    padding-left: 10px;
}
.item2_index input{
    width: 150px;
    height: 30px; 
    background: rgb(117, 181, 49);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;

}

.item3_index{
    grid-area: main_2;   
    margin: 10% 0%  0%;
       
    font-size: 20px;
}

.item3_index h2{
    font-size: 3.9vh;
}

.item3_index div{
    margin-top: 30px;
}

.item3_index h2{
    text-align: center;
}

.item3_index p{
    
    margin: 30px;
    font-size: 2vw;
    
}


.item4_index{
    grid-area: main_3;
    text-align: center;
    margin: 2% 0% 0%;
}
.item5_index{
    grid-area: footer;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.item5_index ul{
    display: flex;
}

.item5_index li{
    padding-right: 40px;
}


.container_cards{
    justify-content: center;    
    display: grid;
    grid-template-columns: repeat(5, 140px) ;
    grid-template-rows: 220px;
    column-gap: 40px;
    padding: 30px;
    color:black;
}
.container_cards h3, h4{
    align-content: end;    
}

.container_cards img{
    border-radius: 7px;
    margin-top: 10px;
}
.container_cadastro_login{
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 70vh ;
    grid-template-areas: 
    "header" 
    "main_1"
    ;
}

.item1_cadastro_login{
    grid-area: header;
    margin: 20px 30px 0px 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6vw;   
}



.item2_cadastro_login{
    grid-area: main_1;
    display: flex;
    align-items: center;
    margin: 100px;
    
}
.item2_cadastro_login  form{
    margin-left: 100px;
}

.item2_cadastro_login input{
    align-items: center;
    justify-content: space-around;
    border: solid white 2px;
    color: black;
    width: 350px;
    height: 50px;
    flex-wrap: wrap;
    display: flex;
    background: rgba(56, 101, 86, 0.05);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    
}


.button_get{  
    margin: 30px 0px 20px;


}
.button_get input{
    margin-bottom: 20px;
    background: #43e52e;
    color: white;
    font-size: 1.3vw ;
}
.button_get2{  
    margin-top: 20px;

}

.button_get2 input{
    background: #43e52e;
    color: white;
    font-size: 1.3vw ;
}

.button.get input{
    padding-left: 30px;
}
.item2_cadastro_login img{
    width: 600px;
    height: 400px;
}



.container_dashboard{
    grid-template-columns: 50% 50% ;
    grid-template-rows: 10% 90% ;
    grid-template-areas: 
    "header header" 
    "main main2"  
    ;
    gap: 15px;
    margin: 20px;
}



.item1_dashboard{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;

}


.item2_dashboard {
    grid-area: main;
    text-align: center;
}


.item2_dashboard h2{
    font-size: 40px;
}

.item2_dashboard p{
    font-size: 50px;
}

.item2_dashboard img{
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 150px;
    height: 150px;
}

.item3_dashboard{
    grid-area: main2;
    text-align: center;

}
.item3_dashboard ul{
    margin: 0px;
    padding: 0px;
}

.item3_dashboard li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid white 2px;
    background: white;
    border-radius: 30px;
    margin: 20px;
    color: black;
    box-shadow: 1px 7px 12px rgba(0, 0, 0, 0.297), 1px 3px 3px rgba(0,0,0,0.23);
}




.form-example{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.form-example label{
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

.form-example input{
    border-radius: 30px;
    
}



.submit_inputs_receita input{
    margin-top: 20px;
    height: 40px;
    background: rgb(117, 181, 49);
    border-radius: 30px;
    border: none;    
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 120px;
        margin-right: 7px;
}

.submit_inputs_despesa input{
    margin-top: 20px;
    height: 40px;
    background: rgb(203, 51, 51);
    border-radius: 30px;
    border: none;    
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 120px;
        margin-right: 7px;
}


.table_pre_view{
    width: 97%;
    margin: 12px;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border-collapse:separate;
    border: solid #ccc 1px;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}

.table_pre_view tbody {
    background: #43e52e;
}

.table_pre_view tr {
    border-spacing: px;
    

}

.table_pre_view td{
    color: #aaa;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
}


.table_pre_view th{
    color: white;
    background-color: red;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
/*Container Tablets*/

@media only screen and (max-width:768px) {
    .container_index{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 300px 300px 300px  40px;
        grid-template-areas: 
        "header header" 
        "main_1 main_1"
        "main_2 main_2"
        "main_3 main_3"
        "footer footer"
        ;
        
    
    }
    .item2_index{
        grid-area: main_1;
        margin: 7% 0% 0% 0%;
        text-align: center;
        padding-top: 15px;
        
        
        
    }
    
    .item2_index h2, h1{
        font-size: 3vw;
    }
    
    
    
    .item2_index ul{
        display: flex;
        justify-content: center;
        padding-right: 55px;
    }
    
    .item2_index li{
        display: flex;
        flex-wrap: wrap;    
        padding-left: 10px;
    }
    .item2_index input{
        width: 150px;
        height: 30px; 
        background: rgb(117, 181, 49);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border: none;
        border-radius: 60px;
        color: white;
    
    }
    
    .item3_index{
        grid-area: main_2;   
        margin: 10% 0%  0%;
           
        font-size: 20px;
    }
    
    .item3_index h2{
        font-size: 3.9vh;
    }
    
    .item3_index div{
        margin-top: 30px;
    }
    
    .item3_index h2{
        text-align: center;
    }
    
    .item3_index p{
        
        margin: 30px;
        font-size: 2vw;
        
    }
    
    
    .item4_index{
        grid-area: main_3;
        text-align: center;
        margin: 2% 0% 0%;
    }
    .item5_index{
        grid-area: footer;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        color: black;
    }
    
    .item5_index ul{
        display: flex;
    }
    
    .item5_index li{
        padding-right: 40px;
    }
    
    
    .container_cards{
        justify-content: center;    
        display: grid;
        grid-template-columns: repeat(5, 140px) ;
        grid-template-rows: 220px;
        column-gap: 40px;
        padding: 30px;
        color:black;
    }
    .container_cards h3, h4{
        align-content: end;    
    }
    
    .container_cards img{
        border-radius: 7px;
        margin-top: 10px;
    }
    .container_cadastro_login{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 70vh ;
        grid-template-areas: 
        "header" 
        "main_1"
        ;
    }
    .container_cadastro_login{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 70vh ;
        grid-template-areas: 
        "header" 
        "main_1"
        ;
    }

    .container_dashboard{
        grid-template-columns: 50% 50% ;
        grid-template-rows: 10% 90% ;
        grid-template-areas: 
        "header header" 
        "main main2"  
        ;
        gap: 15px;
        margin: 20px;
    }

   
}


/*Container smartphones*/

@media only screen and (max-width:460px){

    .container_index{
        grid-template-columns: 375px;
        grid-template-rows: 60px repeat(3, 230px)  60px;
        grid-template-areas: 
        "header" 
        "main_1"
        "main_2"
        "main_3"
        "footer"
        ;
    
    }  

    .item1_index{
        grid-area: header;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;    
        align-items: center;
        padding: 0px 20px 0px;
        word-break: break-all;
        }
    .item1_index button{
        margin-left: 20px;
    }

    .item1_index h1{
        font-size: 3vw;

    }
    
    
    
    
    .item2_index{
        grid-area: main_1;
    }
    .item3_index{
        grid-area: main_2;     
        

        
    }

    .item3_index p{
        text-align: justify;
        word-wrap: break-word;

    }
    .item4_index{
        margin-top: 90px;
        grid-area: main_3;
        
        
    }

    .item5_index{
        grid-area: footer;
    }

    .container_cadastro_login{
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
        "header" 
        "main_1"    
        "footer"
        ;
    
    }
    
    .item1_cadastro_login{
        grid-area: header;
    }
    
    .item2_cadastro_login{
        grid-area: main_1;
    }
    
    
    .item5_cadastro_login{
        grid-area: footer;
    }
    
    .container_dashboard{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr  6fr 6fr ; 
        grid-template-areas: 
        "header"
        "main"
        "main2"   
        ;
    }
    
    .item1_dashboard{
        grid-area: header;
        
    }
    .item1_dashboard a{
        padding: 10px;
        display: none;
    }

    .item3_dashboard{
        display: flex;
        
        
    }
    .item3_dashboard nav{
    }
    .item3_dashboard a{
        grid-area: nav;
        padding-top: 10px;
        padding-left: 35px;
        
    }
    
    .item4_dashboard{
        grid-area: main;  
    }

    .item4_dashboard h1{
        font-size: 22px;
    } 

    .item4_dashboard h2{
        font-size: 20px;
    }

    .item4_dashboard p{
        font-size: 30px;
    }

    .item4_dashboard{
        grid-area: main2;
        justify-items: center;
    }

    .item4_dashboard li{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: white;
        border-radius: 30px;
        margin-top: 3px;
        color: black;
    }

    .item4_dashboard img{
        display: none;
    }
    
   
    

    
    
   
    
    
    .submit_inputs_receita input{
        margin-top: 20px;
        height: 40px;
        background:rgb(58, 194, 58);
        border-radius: 30px;
        border: none;    
        color: white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: 120px;
        margin-right: 7px;
    }
    
    .submit_inputs_despesa input{
        margin-top: 20px;
        height: 40px;
        background: rgb(203, 51, 51);
        border-radius: 30px;
        border: none;    
        color: white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: 120px;
        margin-right: 7px;
    }


}

/*
.table-round-corner {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border-collapse:separate;
    border: solid #ccc 1px;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}


table td {
    color: #aaa;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
}

table th{
    color: white;
    background-color: red;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}
*/