/*GRID*/

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Zen+Dots&display=swap');


html, body{
    padding: 0;
    margin: 0;
    background:white ;
    
    
}

p{
    font-family: 'Orelega One', cursive;
}

h1, h2{
    font-family: 'Orbitron', sans-serif;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

.item{
    background: rgb(58, 194, 58);
    background-image: linear-gradient(130deg, #137e1c 0%, #34ae34 85%, #498f17 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    border-radius: 5px;
}

.item2{
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: black;
    border-radius: 5px;
}

.item_receita{

}

.item_despesa{

}


/*Grid*/

.grid1{
    display: grid;
}

.container_index{
    grid-template-columns: 1fr;
    grid-template-rows: 60px 300px 300px 300px  40px;
    grid-template-areas: 
    "header" 
    "main_1"
    "main_2"
    "main_3"
    "footer"
    ;
    

}
/*
@media only screen and (min-width:600px){
    .nav_view{
        display: inline;
    }
}
*/




.item1_index{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 20px 0px;
    }

.item1_index ul{
    display: flex;
    padding-top: 10px;
}

.item1_index li{
    margin-right:30px;
}

.item1_index input{
    width: 80px;
    height: 30px;
    background: rgb(93, 218, 93);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;
}


@media only screen and (max-width:475px){    
    .dropdown{
        display:none;

    }       

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        flex-wrap: nowrap;
        border-radius: 30px;
      }
    
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }

      
}    
.item2_index{
    grid-area: main_1;
    margin: 7% 0% 0% 0%;
    text-align: center;
    padding-top: 15px;
    
    
    
}

.item2_index h2, h1{
    font-size: 3vw;
}



.item2_index ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}

.item2_index li{
    display: flex;
    flex-wrap: wrap;    
    padding-left: 10px;
}
.item2_index input{
    width: 150px;
    height: 30px;
    background: rgb(93, 218, 93);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;
}
.item3_index{
    grid-area: main_2;   
    margin: 10% 0%  0%;
    text-align: center;   
    font-size: 3vw;
}

.item3_index div{
    margin-top: 30px;
}

.item3_index h2{
    text-align: center;
}

.item3_index p{
    
    margin: 30px;
    font-size: 2vw;
    word-wrap: break-word;
    text-align: end;
}


.item4_index{
    grid-area: main_3;
    text-align: center;
    margin: 2% 0% 0%;
}
.item5_index{
    grid-area: footer;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.item5_index ul{
    display: flex;
}

.item5_index li{
    padding-right: 40px;
}


.container_cards{
    justify-content: center;    
    display: grid;
    grid-template-columns: repeat(5, 140px) ;
    grid-template-rows: 220px;
    column-gap: 40px;
    padding: 30px;
    color:black;
}
.container_cards h3, h4{
    align-content: end;    
}

.container_cards img{
    border-radius: 7px;
    margin-top: 10px;
}
.container_cadastro_login{
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 70vh ;
    grid-template-areas: 
    "header" 
    "main_1"
    ;
}

.item1_cadastro_login{
    grid-area: header;
    margin: 20px 30px 0px 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6vw;   
}



.item2_cadastro_login{
    grid-area: main_1;
    display: flex;
    align-items: center;
    margin: 100px;
    
}
.item2_cadastro_login  form{
    margin-left: 100px;
}

.item2_cadastro_login input{
    align-items: center;
    justify-content: space-around;
    border: solid white 2px;
    color: black;
    width: 350px;
    height: 50px;
    flex-wrap: wrap;
    display: flex;
    background: rgba(56, 101, 86, 0.05);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    
}

.button_get{  
    margin: 30px 0px 20px;


}
.button_get input{
    margin-bottom: 20px;
}
.button_get2{  
    margin-top: 20px;

}

.button.get input{
    padding-left: 30px;
}
.item2_cadastro_login img{
    width: 600px;
    height: 400px;
}


.container_dashboard{
    grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 10vh 87vh ;
    grid-template-areas: 
    "header header header" 
    "nav main main2"  
    ;
    gap: 15px;
    margin: 15px;
}

.item1_dashboard{
    grid-area: header;
    text-align: center;
    font-size: 40px;
    padding: 5px;
}
.item2_dashboard{
    grid-area: nav; 
    text-align: center;
}

.item2_dashboard li{        
    padding-top: 70px;
}


.item3_dashboard{
    grid-area: main;
    text-align: center;
}

.item3_dashboard img{
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 150px;
    height: 150px;
    margin: 20px;
}

.receitas_view_despesas{
    display: flex;    
    justify-content: center;
}

.receitas_view_despesas div{
    margin: 10px 30px 0px ;
    border-radius: 30px;
    width: 180px;
    
}

.item4_dashboard{
    grid-area: main2;
    text-align: center;

}

.item4_dashboard div {
    margin-top:30px;
    
    
}

.item4_dashboard li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid white 2px;
    background: white;
    border-radius: 30px;
    margin: 20px;
    color: black;
}


.container_view_receita_despesa{
    grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 10vh 87vh ;
    grid-template-areas: 
    "header header header" 
    "nav main main2"  
    ;
    gap: 15px;
    margin: 15px;
}

.item1_container_view_receita_despesa{
    grid-area: header;
    text-align: center;
    font-size: 40px;

}

.item2_container_view_receita_despesa{
    grid-area: nav;      
    text-align: center; 
}
.item2_container_view_receita_despesa li{
    padding-top: 70px;
}


.item3_container_view_receita_despesa{
    grid-area: main;
    text-align: center;


}

.item3_container_view_receita_despesa li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid white 2px;
    background: white;
    border-radius: 30px;
    margin: 20px;
    color: black;
}
.item4_container_view_receita_despesa div{
    display: flex;
    margin: 20px;    
}

.item3_container_view_receita_despesa{


}

.item4_container_view_receita_despesa{
    grid-area: main2;
    text-align: center;
}

/*Container responsive*/

@media only screen and (max-width:475px){

    .container_index{
        grid-template-columns: 375px;
        grid-template-rows: 60px repeat(3, 230px)  60px;
        grid-template-areas: 
        "header" 
        "main_1"
        "main_2"
        "main_3"
        "footer"
        ;
    
    }  

    .item1_index{
        grid-area: header;
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;    
        align-items: center;
        padding: 0px 20px 0px;
        word-break: break-all;
        }
    .item1_index button{
        margin-left: 20px;
    }

    .item1_index h1{
        font-size: 3vw;

    }
    
    
    
    
    .item2_index{
        grid-area: main_1;
    }
    .item3_index{
        grid-area: main_2;     
        

        
    }

    .item3_index p{
        text-align: justify;
        word-wrap: break-word;

    }
    .item4_index{
        margin-top: 90px;
        grid-area: main_3;
        
    }
    .item5_index{
        grid-area: footer;
    }

    .container_cadastro_login{
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
        "header" 
        "main_1"    
        "footer"
        ;
    
    }
    
    .item1_cadastro_login{
        grid-area: header;
        background: greenyellow;
    }
    
    .item2_cadastro_login{
        grid-area: main_1;
        
        background: grey;
    }
    
    
    .item5_cadastro_login{
        grid-area: footer;
        background: lightblue;
    }
    
    .container_dashboard{
        grid-template-columns: 1fr 50px;
        grid-template-rows: 10vh 500px 530px ; 
        grid-template-areas: 
        "header nav" 
        "main main"
        "main2 main2"   
        ;
    }
    
    .item1_dashboard{
        grid-area: header;
    }
    
    .item2_dashboard{
        grid-area: nav;    
    }
    
    
    .item3_dashboard{
        grid-area: main;
        
    }
    .item3_dashboard{
        font-size: 4vw;
    }
    .receitas_view_despesas{
        display: flex;    
        justify-content: center;
    }
    
    .receitas_view_despesas div{
        margin: 10px 15px 0px ;
        border-radius: 30px;
        width: 130px;
        font-size: 3vw;
    }

    
    .item4_dashboard{
        grid-area: main2;
    }
    
    .container_view_conta{
        grid-template-columns: 1fr 50px;
        grid-template-rows: 10vh 550px 500px ;
        grid-template-areas: 
        "header nav" 
        "main main"
        "main2 main2"   
        ;
    
    }
    
        
    .container_view_receita_despesa{
        grid-template-columns: 1fr 50px;
        grid-template-rows: 10vh 200px 200px ;
        grid-template-areas: 
        "header nav" 
        "main main"
        "main2 main2"   
        ;
    
    }
    
    .item1_container_view_receita_despesa{
        grid-area: header;
    }
    
    .item2_container_view_receita_despesa{
        grid-area: nav;    
    }
    
    
    .item3_container_view_receita_despesa{
        grid-area: main;
    }
    
    .item4_container_view_receita_despesa{
        grid-area: main2;
    }
    
}




