*{
    
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;    
    list-style: nome;
    text-decoration: nome;
    
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

body{
    background: #9BCE8B;
    list-style: nome;
    text-decoration: nome;

}

hr {
    width:100%;
    border:8px solid;
    border-color:#5e9d5e #060 #d1e3d1;
    height:16px;
}
/*NAV*/


.header{
    background: transparent;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    color: white;

}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu li:hover{
    
    border: 10px solid white;
    border-radius: 20%;
}

.header_2{
    background: transparent;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    color: #5e9d5e;

}
.menu_3{
    display: flex;
}

.menu_3 li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu_3 li:hover{
    
    border: 10px solid #5e9d5e;
    border-radius: 20%;
}





/*NAV FIM*/

/*DIVs Index*/

.div_apresentacao{
    margin: 120px 100px 200px 100px;
    text-align: center;
    

}

.apresent{
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
    
    
}

.apresent li a{
    margin-left: 3px;
    padding-left: 10px;
    

}

.apresent input{
    padding: 7px;
    border-radius: 20px;
    background: #55bd55;
    color: white;
    border-color: white;
}

.div_obj{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
}
.div_objetivos{
    border-radius: 170px;
    border-style: solid; 
    border-color: white;  
    text-align: right;
    padding: 20px;
    background: white;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                white,
                0.6em 0.8em 3em rgba(0,0,0,0.3);
    
}
.div_objetivos h2{
    text-align: center;
}
.div_objetivos p{
    text-align: center;
}

.img{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    white,
    0.6em 0.8em 3em rgba(0,0,0,0.3);

}
.equipe{
    background-image: url('/app/view/img/Equipe2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0px 0px 550px;
    background-clip: padding-box;

}

 .carrosel{
    display: grid;
     
 }

/*PAGE SIGN UP*/


.cadastro_form{
    margin: 60px 140px 20px 20px;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
}

.form input{
    border-radius: 70px;
    padding: 10px 60px;
    width: 100%;
    margin: 5px 0px 5px 0px;
    background: #CCCCCC 12%;
    border-color: transparent;
    
}
.form label{
    padding: 0px 0px 0px 25px;
}

#cadastro{
    background: #65B53D;
    border-radius: 30px;
    
    
}

/*dashaboard*/

.container_preview{
    margin-top: 4px;
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
.nav_left{
    width: 10%;
    
    padding: 0px;
    border: solid;
}
.list_nav_left li{


}


.preview{
    width: 87%;
    margin: 0px, 10px, 0;
    border-style: solid;
    border:rgb(84, 153, 84);
    display: flex;
    display:  wrap;


}



.preview_conta{
    
    width: 90%;
    border:black;
    border-style:solid;

}

.preview_saldo{

}

.preview_lista{

}
/*

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu li:hover{
    
    border: 10px solid white;
    border-radius: 20%;
}
li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

body{
    background: #9BCE8B;
    list-style: nome;
    text-decoration: nome;

}

hr {
    width:100%;
    border:8px solid;
    border-color:#5e9d5e #060 #d1e3d1;
    height:16px;
}
*/

