/*GRID*/

html, body{
    padding: 0;
    margin: 0;
    background:white ;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

.grid{
    display: grid;
}

.container{
    grid-template:
    "header header header" 80px
    "nav    main   main" 470px
    / 90px 1fr 1fr
    ;
}

.container_dashboard{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px;
    margin: 30px;
    gap: 15px;
}



.item{
    background: rgb(58, 194, 58);
    background-image: linear-gradient(130deg, #137e1c 0%, #34ae34 85%, #498f17 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    border-radius: 5px;
}

.item_view{
    
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;

}
.header{
    grid-area: header;
    border: none;
    background: white;
    margin: 10px;
    padding: 10px;
}

.nav{
    grid-area: nav;
    border: none;
    background: white;
    margin: 10px;    
}

.main{
    grid-area: main;
    margin: 10px;
}

.nav a{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}




.container_index{
    grid-template:
    "header header header" 60px
    "main   main   main"  300px
    "main2  main2  main2" 370px
    "main3  main3  main3" 420px
    "footer footer footer" 62PX   
    / 1fr 1fr 1fr
    ;
}

.header_index{
    grid-area: header;
    box-sizing: border-box;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: center;
    padding:0px 20px 0px 20px;
    color: white;
}

.header_index ul{    
    display: flex;
}
.header_index li{
    margin-left: 20px;   
}

.main_index1{
    grid-area: main;
    margin: 7% 0% 0% 0%;
    text-align: center;
    padding-top: 15px;
    
}


.main_index1 ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}
.main_index1 li{
    display: flex;
    flex-wrap: wrap;    
    padding-left: 10px;

}

.main_index1 input{
    width: 150px;
    height: 30px;
    background: rgb(93, 218, 93);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;    
}

.main_index2{
    grid-area: main2;   
    margin: 3% 0%  0%;
    display: flex;
}

.main_index2  p{    
    text-align: center;
    border: 1px white solid;
    border-radius: 100px;
    padding: 5px;
}
.main_index3{
    margin: 2% 0% 0%;
    grid-area: main3;
    text-align: center;
    
}
.container_cards{
    justify-content: center;    
    display: grid;
    grid-template-columns: repeat(5, 140px) ;
    grid-template-rows: 220px;
    column-gap: 40px;
    padding: 30px;
    color:black;
}
.container_cards h3, h4{
    align-content: end;    
}

.container_cards img{
    border-radius: 7px;
}

.footer_index{
    grid-area: footer;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.footer_index ul{
    display: flex;
}
.footer_index li{
    padding-right: 40px;
}


