
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
    list-style: nome;
    text-decoration: nome;
    
}



/*GRID-TEMPLATE*/


header{
    background: white;
    grid-area: h;
    padding: 5px;
}

aside{
    padding: 0px 50px 0px 0px;
    background: white;
    grid-area: a;

}

main{
    background: white;
    grid-area: m;
    align-items: center;
    

}

.container{

    display: grid;
    grid-template-columns: 10vh 3fr;    
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "h h"
                        "a m";
    
    
}

/* END GRID*/




li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

body{
    background: #9BCE8B;
    list-style: nome;
    text-decoration: nome;

}

hr {
    width:100%;
    border:8px solid;
    border-color:#5e9d5e #060 #d1e3d1;
    height:16px;
}

.header{
    background: transparent;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    color: white;

}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu li:hover{
    
    border: 10px solid white;
    border-radius: 20%;
}

.header_2{
    background: transparent;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    color: #5e9d5e;

}
.menu_3{
    display: flex;
}

.menu_3 li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu_3 li:hover{
    
    border: 10px solid #5e9d5e;
    border-radius: 20%;
}







.div_apresentacao{
    margin: 120px 100px 200px 100px;
    text-align: center;
    

}

.apresent{
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
    
    
}

.apresent li a{
    margin-left: 3px;
    padding-left: 10px;
    

}

.apresent input{
    padding: 7px;
    border-radius: 20px;
    background: #55bd55;
    color: white;
    border-color: white;
}

.div_obj{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
}
.div_objetivos{
    border-radius: 170px;
    border-style: solid; 
    border-color: white;  
    text-align: right;
    padding: 20px;
    background: white;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                white,
                0.6em 0.8em 3em rgba(0,0,0,0.3);
    
}
.div_objetivos h2{
    text-align: center;
}
.div_objetivos p{
    text-align: center;
}

.img{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    white,
    0.6em 0.8em 3em rgba(0,0,0,0.3);

}
.equipe{
    background-image: url('/app/view/img/Equipe2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0px 0px 550px;
    background-clip: padding-box;

}

 .carrosel{
    display: grid;
     
 }



.cadastro_form{
    margin: 60px 140px 20px 20px;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
}

.form input{
    border-radius: 70px;
    padding: 10px 60px;
    width: 100%;
    margin: 5px 0px 5px 0px;
    background: #CCCCCC 12%;
    border-color: transparent;
    
}
.form label{
    padding: 0px 0px 0px 25px;
}

#cadastro{
    background:  #81C95C;
    border-radius: 30px;
    
    
}




.icon_align{
  padding: 0px 20px 0px;
}

.icon_align li{
    padding-top: 20px;
}


.div_view{
    background: #81C95C;
    padding: 10px;
    margin: 20px;
}









