/*GRID*/

html, body{
    padding: 0;
    margin: 0;
    background:white ;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

.grid{
    display: grid;
}

.container{
    grid-template:
    "header header header" 80px
    "nav    main   main" 470px
    / 90px 1fr 1fr
    ;
}

.container_dashboard{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px;
    margin: 30px;
    gap: 15px;
}



.item{
    background: rgb(58, 194, 58);
    background-image: linear-gradient(130deg, #137e1c 0%, #34ae34 85%, #498f17 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    border-radius: 5px;
}

.item_view{
    
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;

}
.header{
    grid-area: header;
    border: none;
    background: white;
    margin: 10px;
    padding: 10px;
}

.nav{
    grid-area: nav;
    border: none;
    background: white;
    margin: 10px;    
}

.main{
    grid-area: main;
    margin: 10px;
}

.nav a{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}




.container_index{
    grid-template:
    "header header header" 60px
    "main   main   main"  300px
    "main2  main2  main2" 300px
    "main3  main3  main3" 300px
    "footer footer footer" 100PX   
    / 1fr 1fr 1fr
    ;
}

.header_index{
    grid-area: header;
    box-sizing: border-box;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: center;
    padding:0px 20px 0px 20px;
    color: white;
}

.header_index ul{    
    display: flex;
}
.header_index li{
    margin-left: 20px;   
}

.main_index1{
    grid-area: main;
    margin: 20px;
    text-align: center;
    padding-top: 15px;
    
}

.main_index1 ul{
    display: flex;
    

}
.main_index1 li{
    display: flex;
    flex-wrap: wrap;
    
    padding-left: 20px;
}

.main_index1 input{
    width: 150px;
    height: 30px;
    background: rgb(93, 218, 93);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;    
}

.main_index2{
    grid-area: main2;
    display: flex;
    padding: 20px;
}

.main_index2 div {
    text-align: center;
    border: 1px white solid;
    border-radius: 100px;
    padding: 5px;
}
.main_index2  p{
    padding: 5px;
}
.main_index3{
    grid-area: main3;
}

.footer_index{
    grid-area: footer;
}


/*GRID-END*/





/*
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
    list-style: nome;
    text-decoration: nome;
    
}






header{
    background: white;
    grid-area: h;
    padding: 5px;
}

aside{
    padding: 0px 50px 0px 0px;
    background: white;
    grid-area: a;

}

main{
    background: white;
    grid-area: m;
    align-items: center;
    

}

.container{

    display: grid;
    grid-template-columns: 10vh 3fr;    
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "h h"
                        "a m";
    
    
}








body{
    background: #9BCE8B;
    list-style: nome;
    text-decoration: nome;

}

hr {
    width:100%;
    border:8px solid;
    border-color:#5e9d5e #060 #d1e3d1;
    height:16px;
}

.header{
    background: transparent;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    color: white;

}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu li:hover{
    
    border: 10px solid white;
    border-radius: 20%;
}

.header_2{
    background: transparent;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px;
    color: #5e9d5e;

}
.menu_3{
    display: flex;
}

.menu_3 li{
    margin-left: 10px;
    padding-left: 7px;
    transition: all .5s;
    border: 10px solid transparent;
    padding: 10px;

}

.menu_3 li:hover{
    
    border: 10px solid #5e9d5e;
    border-radius: 20%;
}







.div_apresentacao{
    margin: 120px 100px 200px 100px;
    text-align: center;
    

}

.apresent{
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
    
    
}

.apresent li a{
    margin-left: 3px;
    padding-left: 10px;
    

}

.apresent input{
    padding: 7px;
    border-radius: 20px;
    background: #55bd55;
    color: white;
    border-color: white;
}

.div_obj{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
}
.div_objetivos{
    border-radius: 170px;
    border-style: solid; 
    border-color: white;  
    text-align: right;
    padding: 20px;
    background: white;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                white,
                0.6em 0.8em 3em rgba(0,0,0,0.3);
    
}
.div_objetivos h2{
    text-align: center;
}
.div_objetivos p{
    text-align: center;
}

.img{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    white,
    0.6em 0.8em 3em rgba(0,0,0,0.3);

}
.equipe{
    background-image: url('/app/view/img/Equipe2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0px 0px 550px;
    background-clip: padding-box;

}

 .carrosel{
    display: grid;
     
 }



.cadastro_form{
    margin: 60px 140px 20px 20px;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    align-items: center;
}

.form input{
    border-radius: 70px;
    padding: 10px 60px;
    width: 100%;
    margin: 5px 0px 5px 0px;
    background: #CCCCCC 12%;
    border-color: transparent;
    
}
.form label{
    padding: 0px 0px 0px 25px;
}

#cadastro{
    background:  #81C95C;
    border-radius: 30px;
    
    
}




.icon_align{
  padding: 0px 20px 0px;
}

.icon_align li{
    padding-top: 20px;
}


.div_view{
    background: #81C95C;
    padding: 10px;
    margin: 20px;
}



.form_view input{
    border-radius: 25px;
    width: 750px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    background: #82bf63;    
    
    
}

.footer_pagina{
    text-align: center;
    border: solid black ;
    width: 400px;
    height: 270px;
    margin: 30px;
    
    
}

.footer_pagina ul{
    display: flex;
}



*/

