/*GRID*/

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Zen+Dots&display=swap');


html, body{
    padding: 0;
    margin: 0;
    background:white ;
    
    
}
p{
    font-family: 'Orelega One', cursive;
}

h1, h2{
    font-family: 'Orbitron', sans-serif;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
}

a:link{
    text-decoration:none;
    
}

.item{
    background: rgb(58, 194, 58);
    background-image: linear-gradient(130deg, #137e1c 0%, #34ae34 85%, #498f17 100%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    border-radius: 5px;
}


/*Grid*/

.grid{
    display: grid;
}

.container_index{
    grid-template-columns: 1fr;
    grid-template-rows: 60px 300px 300px 300px  40px;
    grid-template-areas: 
    "header" 
    "main_1"
    "main_2"
    "main_3"
    "footer"
    ;
    

}

.item1_index{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 20px 0px;
}

.item1_index ul{
    display: flex;
}

.item1_index li{
    margin-left:10px;
}

.item2_index{
    grid-area: main_1;
    margin: 7% 0% 0% 0%;
    text-align: center;
    padding-top: 15px;
    
}
.item2_index ul{
    display: flex;
    justify-content: center;
    padding-right: 55px;
}

.item2_index li{
    display: flex;
    flex-wrap: wrap;    
    padding-left: 10px;
}
.item2_index input{
    width: 150px;
    height: 30px;
    background: rgb(93, 218, 93);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    border-radius: 60px;
    color: white;
}
.item3_index{
    grid-area: main_2;   
    margin: 3% 0%  0%;
    display: flex;
    padding-left: 60px;
    justify-content: space-around;
}

.item3_index div{
    margin-top: 30px;
}

.item3_index h2{
    text-align: center;
}


.item4_index{
    grid-area: main_3;
    text-align: center;
    margin: 2% 0% 0%;
}
.item5_index{
    grid-area: footer;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.item5_index ul{
    display: flex;
}

.item5_index li{
    padding-right: 40px;
}


.container_cards{
    justify-content: center;    
    display: grid;
    grid-template-columns: repeat(5, 140px) ;
    grid-template-rows: 220px;
    column-gap: 40px;
    padding: 30px;
    color:black;
}
.container_cards h3, h4{
    align-content: end;    
}

.container_cards img{
    border-radius: 7px;
    margin-top: 10px;
}
.container_cadastro_login{
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "header" 
    "main_1"    
    "footer"
    ;
}

.item1_cadastro_login{
    grid-area: header;
    background: greenyellow;
}

.item2_cadastro_login{
    grid-area: main_1;
    
    background: grey;
}


.item3_cadastro_login{
    grid-area: footer;
    background: lightblue;
}

.container_dashboard{
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 10vh 87vh ;
    grid-template-areas: 
    "header header header" 
    "nav main main2"  
    ;

}

.item1_dashboard{
    grid-area: header;
    background: greenyellow;
}

.item2_dashboard{
    grid-area: nav;    
    background: grey;
}


.item3_dashboard{
    grid-area: main;
    background: lightblue;
}

.item4_dashboard{
    grid-area: main2;
    background: blue;
}

.container_view_conta{
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 10vh 87vh ;
    grid-template-areas: 
    "header header header" 
    "nav main main2"  
    ;

}

.item1_container_view_conta{
    grid-area: header;
    background: greenyellow;
}

.item2_container_view_conta{
    grid-area: nav;    
    background: grey;
}


.item3_container_view_conta{
    grid-area: main;
    background: lightblue;
}

.item4_container_view_conta{
    grid-area: main2;
    background: blue;
}

.container_view_receita_despesa{
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 10vh 87vh ;
    grid-template-areas: 
    "header header header" 
    "nav main main2"  
    ;

}

.item1_container_view_receita_despesa{
    grid-area: header;
    background: greenyellow;
}

.item2_container_view_receita_despesa{
    grid-area: nav;    
    background: grey;
}


.item3_container_view_receita_despesa{
    grid-area: main;
    background: lightblue;
}

.item4_container_view_receita_despesa{
    grid-area: main2;
    background: blue;
}

/*Container responsive*/

@media only screen and (max-width:650px){

    .container_index{
        grid-template-columns: 1fr;
        grid-template-rows: 60px repeat(3, 200px) 60px;
        grid-template-areas: 
        "header" 
        "main_1"
        "main_2"
        "main_3"
        "footer"
        ;
    
    }
    .item1_index{
        grid-area: header;
        background: greenyellow;
    }
    
    .item2_index{
        grid-area: main_1;
        
        background: grey;
    }
    .item3_index{
        grid-area: main_2;
        background: hotpink;
        
    }
    .item4_index{
        grid-area: main_3;
        background: indigo;
    }
    .item5_index{
        grid-area: footer;
        background: lightblue;
    }

    .container_cadastro_login{
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
        "header" 
        "main_1"    
        "footer"
        ;
    
    }
    
    .item1_cadastro_login{
        grid-area: header;
        background: greenyellow;
    }
    
    .item2_cadastro_login{
        grid-area: main_1;
        
        background: grey;
    }
    
    
    .item5_cadastro_login{
        grid-area: footer;
        background: lightblue;
    }
    
    .container_dashboard{
        grid-template-columns: 1fr 50px;
        grid-template-rows: 10vh 200px 200px ;
        grid-template-areas: 
        "header nav" 
        "main main"
        "main2 main2"   
        ;
    
    }
    
    .item1_dashboard{
        grid-area: header;
        background: greenyellow;
    }
    
    .item2_dashboard{
        grid-area: nav;    
        background: grey;
    }
    
    
    .item3_dashboard{
        grid-area: main;
        background: lightblue;
    }
    
    .item4_dashboard{
        grid-area: main2;
        background: blue;
    }
    
    .container_view_conta{
        grid-template-columns: 1fr 50px;
        grid-template-rows: 10vh 200px 200px ;
        grid-template-areas: 
        "header nav" 
        "main main"
        "main2 main2"   
        ;
    
    }
    
    .item1_container_view_conta{
        grid-area: header;
        background: greenyellow;
    }
    
    .item2_container_view_conta{
        grid-area: nav;    
        background: grey;
    }
    
    
    .item3_container_view_conta{
        grid-area: main;
        background: lightblue;
    }
    
    .item4_container_view_conta{
        grid-area: main2;
        background: blue;
    }
    
    .container_view_receita_despesa{
        grid-template-columns: 1fr 50px;
        grid-template-rows: 10vh 200px 200px ;
        grid-template-areas: 
        "header nav" 
        "main main"
        "main2 main2"   
        ;
    
    }
    
    .item1_container_view_receita_despesa{
        grid-area: header;
        background: greenyellow;
    }
    
    .item2_container_view_receita_despesa{
        grid-area: nav;    
        background: grey;
    }
    
    
    .item3_container_view_receita_despesa{
        grid-area: main;
        background: lightblue;
    }
    
    .item4_container_view_receita_despesa{
        grid-area: main2;
        background: blue;
    }
    
}





